.lists{
    color:white;
}
.listItems{
    color:white;
    text-decoration: none;
    padding:10px 20px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.activeList{
    background-color:rgb(47, 43, 43);
    font-weight: bold;  
    color:white;
    border-radius: 20px;
}