
.box{
    height:100%px;
    width: 100%;
    max-width: 600px;
    border: 5px solid lightgray;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
}
.addnewtask{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    /* display:inline-flex; */
    padding-top: 7px;
    align-items: center;
    padding-left:10px;
}
.addnewtask>p{
    padding-left: 30px;
}
.boxContent{
    margin: 25px;
    height: 100%;
}

.task{
    display:flex;
}
.task:hover{
    background-color:lightgray;
    cursor: pointer;
}
.checkBox{
    margin-top:4px;
    margin-right:10px;
    border-radius:50%;
    width:20px !important;
    height:20px !important;
    border: 1px solid black;
}
.checkBoxInactive{
    margin-top:4px;
    margin-right:10px;
    display:none;
    width:15px;
    height:20px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(45deg);
}
.checkMark{
    display:none;
}
.inactive{
   text-decoration: line-through; 

}