.main{
    height: 100vh;
    max-height: 100vh;
}
.lists{
    background-color: black;
}
@media (min-width: 767.98px) { 
    .lists{
        max-width: 300px !important;
    }
    .dashbody{
        height:100%
    }
}
