.activeList{
    display:flex;
    border: 3px solid black;
    border-radius: 20px;
    padding: 0px 10px;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    width: fit-content;
    margin: 20px;
    max-width: 90%;
    overflow-x:hidden;
    text-overflow:ellipses;
}
.box{
    height:100%;
    width: 100%;
    max-width: 700px;
    max-height: 100%;
    border: 5px solid lightgray;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
}
.addnewtask{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    /* display:inline-flex; */
    padding-top: 7px;
    align-items: center;
    padding-left:10px;
}
.addnewtask>p{
    padding-left: 30px;
}
.boxContent{
    margin: 25px;
    height: 100%;
}

.task{
    display:inline-flex;
    flex:0;
}
.task:hover{
    background-color:rgba(238, 233, 233, 0.815);
    cursor: pointer;
}
.checkBox{
    margin-top:3px;
    margin-right:10px;
    border-radius:50%;
    width:20px !important;
    height:20px !important;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid black;
}
.checkBoxInactive{
    margin-top:4px;
    margin-right:10px;
    display:none;
    width:15px;
    height:20px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(45deg);
}
.checkMark{
    display:none;
}
.inactive{
   text-decoration: line-through; 

}